div.files
    div.container
        div.files-content
            div.alert.alert__margin-bottom(
                :class="{'alert__info': !filesStore.errorMessage, 'alert__warning': filesStore.errorMessage}"
                v-if="filesStore.visibleMessage"
            ) {{ filesStore.message }}
            FileForm
            FileTable
            Pagination(
                :pages="filesStore.pageCount",
                :current-page="filesStore.currentPage"
                @select-page="filesStore.changePage"
            )
            Loader(
                :isLoading="filesStore.isLoading"
            )
