div.files
    div.container
        div.files-content
            div.alert.alert__margin-bottom(
                :class="{'alert__info': !errorMessage, 'alert__warning': errorMessage}"
                v-if="showMessage"
            ) {{ message }}
            FileForm(
                @file-upload="changeFileCount"
                @error="errorHandler"
                @loader="loaderHandler"
            )
            FileTable(
                @file-delete="changeFileCount"
                @file-rename="getFiles"
                @error="errorHandler"
                @loader="loaderHandler"
                :files="items"
            )
            Pagination(
                :pages="this.pages",
                :current-page="offset / limit"
                @select-page="changePage"
            )
            Loader(
                :isLoading="isLoading"
            )
